<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>newOrder</servlet-name>
        <servlet-class>com.pharmacy.newOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myOrders</servlet-name>
        <servlet-class>com.pharmacy.myOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>com.pharmacy.deleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyuser</servlet-name>
        <servlet-class>com.pharmacy.verifyuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allOrder</servlet-name>
        <servlet-class>com.pharmacy.allOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToOrder</servlet-name>
        <servlet-class>com.pharmacy.addToOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dMyOrder</servlet-name>
        <servlet-class>com.pharmacy.dMyOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmDelivery</servlet-name>
        <servlet-class>com.pharmacy.ConfirmDelivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medicineAdd</servlet-name>
        <servlet-class>com.pharmacy.medicineAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAllOrder</servlet-name>
        <servlet-class>com.pharmacy.adminAllOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allUser</servlet-name>
        <servlet-class>com.pharmacy.allUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>com.pharmacy.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminOrderDelete</servlet-name>
        <servlet-class>com.pharmacy.adminOrderDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.pharmacy.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>medlist</servlet-name>
        <url-pattern>/medlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newOrder</servlet-name>
        <url-pattern>/newOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myOrders</servlet-name>
        <url-pattern>/myOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyuser</servlet-name>
        <url-pattern>/verifyuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allOrder</servlet-name>
        <url-pattern>/allOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToOrder</servlet-name>
        <url-pattern>/addToOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dMyOrder</servlet-name>
        <url-pattern>/dMyOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmDelivery</servlet-name>
        <url-pattern>/ConfirmDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medicineAdd</servlet-name>
        <url-pattern>/medicineAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAllOrder</servlet-name>
        <url-pattern>/adminAllOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allUser</servlet-name>
        <url-pattern>/allUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminOrderDelete</servlet-name>
        <url-pattern>/adminOrderDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>registerser</servlet-name>
        <servlet-class>com.pharmacy.registerser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medlist</servlet-name>
        <servlet-class>com.pharmacy.medlist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerser</servlet-name>
        <url-pattern>/registerser</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.pharmacy.Listener</listener-class>
    </listener>
</web-app>
